$primary-light: blue;
$primary-dark: darkblue;
$secondary-light: darkgray;
$secondary-dark: black;
$background-light: white;
$background-dark: whitesmoke;
$font-default: TitilliumWeb;
$font-header: Overpass;

@font-face {
  font-family: $font-default;
  font-display: swap;
  src: url("~assets/fonts/" + $font-default + "/" + $font-default + "-Regular.ttf");
}
@font-face {
  font-family: $font-header;
  font-display: swap;
  src: url("~assets/fonts/" + $font-header + "/" + $font-header + "-Regular.ttf");
}