<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="color-scheme" content="dark">
    <meta name="HandheldFriendly" content="true">
    <meta name="theme-color" content="#e06c75">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Sebastian Pernthaler</title>
    <meta name="description" content="Software Developer">
    <meta name="author" content="Sebastian Pernthaler">
    <meta name="keywords" content="Sebastian Pernthaler">

    <meta property="og:type" content="website">
    <meta property="og:url" th:content="|${url}/|">
    <meta property="og:title" content="Sebastian Pernthaler">
    <meta property="og:site_name" content="Sebastian Pernthaler">
    <meta property="og:description" content="Software Developer">
    <meta property="og:image" th:content="|${url}/img/icon.png|">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Sebastian Pernthaler">
    <meta name="twitter:description" content="Software Developer">
    <meta name="twitter:image" th:content="|${url}/img/icon.png|">

    <link rel="icon" href="/img/icon.png">
    <link rel="author" href="/humans.txt">

    <link rel="stylesheet" href="/webjars/fontsource-variable__nunito/index.css">
    <link rel="stylesheet" href="/webjars/fortawesome__fontawesome-free/css/brands.css">
    <link rel="stylesheet" href="/webjars/fortawesome__fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="/webjars/fortawesome__fontawesome-free/css/solid.min.css">
    <link rel="stylesheet" href="/webjars/normalize.css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/webjars/particles.js/particles.js"></script>
    <script defer th:if="${plausible}" th:data-domain="${domain}" th:src="|${plausible}/js/script.js|"></script>

</head>
<body>

<main>
    <h1>Sebastian Pernthaler</h1>
    <h2>Software Developer</h2>
    <ul>
        <li th:each="link: ${links}" th:object="${link}">
            <a th:href="*{href()}" th:target="|_*{target().name().toLowerCase()}|" rel="noopener noreferrer">
                <i th:class="*{icon()}"></i>
                <span th:text="*{text()}"></span>
            </a>
        </li>
    </ul>
</main>

<div id="background"></div>

<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>